<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/awto.css">
    <link rel="stylesheet" href="/css/about.css">
    <title>Biz barada</title>
</head>

<body>
    <div class="wrapper">
        <nav class="navbar">
            <div class="navbar__logo">
                <div class="logo">Turkmenistanyn ulag logistika merkezi</div>
            </div>
            <ul class="navnar__list">
                <li class="navbar__item">
                    <a href="/" class="navbar__link">Baş sahypa</a>
                </li>
                <li class="navbar__item">
                    <a href="/aeroplane" class="navbar__link">Howa gatnawlary</a>
                </li>
                <li class="navbar__item">
                    <a href="/train" class="navbar__link">Demirýol gatnawlary</a>
                </li>
                <li class="navbar__item">
                    <a href="/buses" class="navbar__link">Awtobus gatnawlary</a>
                </li>
                <li class="navbar__item">
                    <a href="/about" class="navbar__link">Biz barada</a>
                </li>
                <li class="navbar__item">
                    <a href="/contact" class="navbar__link">Habarlaşmak</a>
                </li>
            </ul>
        </nav>
        <div class="main">
            <div class="header">
                <h1 class="header__title">
                    Biz barada
                </h1>
            </div>
            <div class="main__about">
                <button class="accordion">"Türkmenawtoulaglary" agentligi</button>
                <div class="panel">
                    <p>Berkarar döwletimiziň bagtyýarlyk döwründe Hormatly Prezidentimiziň parasatly döwlet
                        ýolbaşçylygynda
                        ýurdumyzyň awtomobil ulaglary pudagy dünýäde öňdebaryjy kompaniýalaryň öndürýän häzirki zaman
                        awtoulaglary bilen üpjün edilýär. Hormatly Prezidentimiziň satyn alyp berýän döwrebap
                        awtobuslary we
                        ýeňil taksi awtoulaglary bilen ýolagçylara, ýurdumyzyň myhmanlaryna hem-de döwlet derejesinde
                        geçirilýän
                        çärelere gatnaşyjylara ýokary hilli we medeniýetli awtoulag hyzmatlary edilýär. Türkmenistanyň
                        ilatynyň
                        awtomobil gatnamalaryna bolan isleglerini talaba laýyk kanagatlandyrmak, awtomobil ulaglarynda
                        ýolagçylaryň ýokary hilli gatnadylmagyny, olara medeniýetli hyzmat edilmegini gazanmak maksady
                        bilen,
                        «Türkmenawtoulaglary» agentliginiň garamagyndaky degişli edara-kärhanalar, Agentligiň we onuň
                        garamagyndaky edara-kärhanalaryň paýly gatnaşygyndaky «Awtomobil ulag hyzmaty» açyk görnüşli
                        paýdarlar
                        jemgyýeti tarapyndan, häzirki wagtda jemi 607 sany, şolardan 168 sany şäheriçi, 336 sany
                        şäherýaka we
                        103 sany şäherara awtobus ugurlary bolup, mundan başgada buýurmalar esasynda ýolagçylara ýokary
                        hilli we
                        medeniýetli awtoulag hyzmatlary ýerine ýetirilýär. Ilatyň awtobus gatnamalaryna bolan
                        isleglerini
                        kanagatlandyrmak hem-de hyzmatlaryň ýokary hilli we medeniýetli bolmagyny gazanmak maksady bilen
                        2021-nji ýylyň başyndan häzirki wagta çenli 26 sany awtobus ugurlary açyldy hem-de 22 sany
                        awtobus
                        ugurlara üýtgetmeler girizildi. Hormatly Prezidentimiziň satyn alyp berýän döwrebap ýeňil taksi
                        awtoulaglary bilen paýtagtymyzda we ýurdumyzyň welaýatlarynda ýolagçylara gije-gündiziň
                        dowamynda ýokary
                        hilli we medeniýetli taksi hyzmatlary ýerine ýetirilýär. Ýerine ýetirilýän awtoulag
                        hyzmatlarynyň ýokary
                        hilli medeniýetli bolmagyny gazanmak we ýolagçylar üçin amatly şertleri döretmek maksady bilen,
                        paýtagtymyzdaky şäheriçi awtobuslarda nagt däl görnüşli elektron töleg ulgamy ornaşdyryldy,
                        ýeňil taksi
                        awtoulaglarda elektron enjamy goýlup, internet ulgamynyň üsti bilen hyzmatlar ýola goýuldy we
                        awtobuslarda, ýeňil taksi awtoulaglarda hem-de welaýatlardaky kärhanalarymyzyň hasabyndaky ýük
                        awtoulaglarda hem GPS/Glonass ulgamy ornaşdyryldy. Ýörite enjam ornaşdyrylyp, paýtagtymyzdan
                        ýurdumyzyň
                        welaýatlaryna şäherara we şäherýaka ugurlar boýunça gatnaýan awtobuslara ýol peteklerini
                        internet ulgamy
                        arkaly satyn almak hyzmaty ýola goýuldy. Şeýle hem, ýük awtoulaglary halk hojalygynyň dürli
                        pudaklarynda, şol sanda ýurdumyzda alnyp barylýan iri gurluşyklarda hem-de ýurdumyzda
                        ýetişdirilýän
                        galla hasylyny we beýleki oba hojalyk ekinlerini daşamakda giňden ulanylýar. Mundan başga-da,
                        düzüminde
                        «KAMAZ 5490 (4x2)» kysymly eýerli çekiji we «NEFAZ-93341» kysymly tentli ýarym tirkeg bolan ýük
                        awtoulaglary, ýurdumyzyň Döwlet serhediniň üstünden geçilýän gözegçilik-geçiriş ýerlerinde we
                        ýurdumyzyň
                        çägi boýunça, ýurdumyza gelýän we onuň çäginden üstaşyr geçýän ýükleri daşamakda giňden
                        ulanylýar.
                        Habarlaşmak üçin: Salgymyz: Arçabil şaýoly, ş.Aşgabat, Türkmenistan Tel: +993 (12) 390356
                        E-mail:
                        info@awotulag.gov.tm Web-saýt: https://awtoulag.gov.tm/
                    </p>
                </div>
                <button class="accordion">"Türkmenaragatnaşyk" agentligi</button>
                <div class="panel">
                    <p>Türkmenistanyň Ministrler Kabinetiniň ýanyndaky Ulag we kommunikasiýalar agentliginiň
                        «Türkmenaragatnaşyk» agentligi, Türkmenistanda aragatnaşyk babatda döwlet syýasatyny durmuşa
                        geçirýän
                        hem-de aragatnaşyk babatda işiň döwlet tarapyndan düzgünleşdirilmegini we oňa gözegçilik
                        edilmegini
                        amala aşyrýan ýerine ýetiriji häkimiýetiň merkezi edarasy bolup durýar. Agentlik üstüne ýüklenen
                        wezipeleriň çäklerinde ýerli we öýjükli telefon aragatnaşygy, internet ulgamy, poçta hyzmatlary,
                        sanly
                        ykdysadyýet, kiberhowpsuzlygy, hemra aragatnaşygy, milli tele we radio ýaýlymlaryny ýaýratmak,
                        hünärmenleri taýýarlamak ýaly ugurlar boýunça işleri durmuşa geçirýär. 2015-nji ýylda
                        «TürkmenÄlem 52°E»
                        ilkinji milli emeli hemranyň älem giňişligine çykarylmagy netijesinde dünýä ülňülerine laýyk
                        gelýän
                        telekommunikasiýa aragatnaşyk ulgamynyň, ýokary hilli tele we radio ýaýlymlarynyň kemala gelmegi
                        üçin
                        uly mümkinçilikler döredildi. Türkmenistanyň Ministrler Kabinetiniň ýanyndaky Ulag we
                        kommunikasiýalar
                        agentliginiň «Türkmenaragatnaşyk» agentligi, Halkara Elektroaragatnaşyk bileleşiginiň,
                        Bütindünýä Poçta
                        birleşiginiň, Garaşsyz Döwletleriň Arkalaşygyna agza ýurtlaryň Aragatnaşyk boýunça sebit
                        arkalaşygynyň,
                        GSM assosiasiýasynyň, IP salgylary we Domen atlary berkitmek boýunça Internet – korporasiýasynyň
                        (ICANN)
                        we başga-da birnäçe iri halkara guramalarynyň doly hukukly agzasy bolup, bu guramalar bilen
                        uzakmöhletleýin işjeň hyzmatdaşlygy alyp barýar. Habarlaşmak üçin: Salgymyz: Türkmenistan,
                        Aşgabat
                        şäheri Arçabil şaýoly 88 Tel: +993 12 44 93 93 E-mail: mincom@sanly.tm Web-saýt:
                        https://www.mincom.gov.tm/
                    </p>
                </div>
                <button class="accordion">"Türkmendemirýollary" agentligi</button>
                <div class="panel">
                    <p>Ýurdumyzda Beýik Ýüpek ýolunyň täze görnüşde dikeldilmegi boýunça yzygiderli işler alnyp
                        barylýar, syýasy, söwda-ykdysady we medeni-ynsanperwer gatnaşyklary berkitmek babatda ägirt uly
                        mümkinçilikler açylýar. Bu strategik ähmiýetli halkara ugruň häzirki şertlerde dikeldilmegini
                        baş wezipe hökmünde kesgitlän Türkmenistan döwleti özüniň ulag diplomatiýasyny bu taslamanyň
                        durmuşa geçirilmeginde işjeň peýdalanýar. "Demirýollary" AGPJ hem bu halkara ähmiýetli
                        taslamalaryň dogry we wagtynda durmuşa geçirilmegine goşant goşmagy özüniň esasy maksady
                        edinýär. "Demirýollary" AGPJ "Türkmendemirýollary" agentliginiň düzüminde ýerleşip, ýolagçy we
                        ýük gatnawlary hyzmatlaryny hödürleýär. Ýolagçylaryň sanynyň artýanlygy sebäpli ýurdymyzda
                        ýolagçylara edilýän hyzmatyň hilini ýokarlandyrmak we raýatlarymyzyň demir ýol ulaglarynda
                        gatnawa bolan isleglerini kanagatlandyrmak maksady bilen, ýolagçy otlularynyň gatnawlarynda
                        tassyklanan tertibinden başga-da goşmaça ýolagçy otlularyň gatnawy ýola goýulýar. "Demirýollary"
                        AGPJ her ýyl takmynan 6 million ýolagça hyzmat berýär edýär. Ýolagçylarymyzyň syýahat wagty
                        rahatlygyny we howpsuzlugyny üpjin etmek maksatly "Ýolagçy" bölüminde 5000 hünärmen zähmet
                        çekýär. Hyzmatymyza türkmen sährasynyň ajaýyp peýzažynyň lezzetini duýmak isleýän dünýä
                        jahankeşdelerinden we ýerli ýolagçylardan gelýän hoşallyk teswirleri agzybir işgärlerimizi has
                        hem ruhlandyrýar. "Demirýollary" AGPJ demir ýol arkaly ýük daşamak bilen bagly hyzmatlaryň
                        ençeme görnüşini amala aşyrýar we Türkmenistanyň çäginde onuň ençeme wekilçilikleri ýerleşýär.
                        Türkmenistanyň çägi we GDA, Baltiýa, Eýran, Owganystan, Hytaý, Ýewropanyň we Aziýanyň beýleki
                        ýurtlar boýunça eksport, import we tranzit ýükleri daşamak üçin iň pes (minimal) demir ýol
                        nyrhnamalaryny (tariflerini) hödürleýär we şuňa laýyklykda, ýük daşamagyň demir ýol
                        nyrhnamalarynyň bahasyny hasaplap, gysga wagtyň dowamynda müşderilere hyzmat berýär edýär.
                        "Türkmendemirýollary" agentligi "Türkmenistanyň ulag we logistika merkezi" AGPJ-niň 35% göterim
                        paýdary bolup çykyş edýär. Turkmenistanyň ulag we logistika merkezi ulaglaryň dürli görnüşleri
                        arkaly, şol sanda awtomobil, demir ýol, awia howa gatnawlary, deňiz we konteýner gatnawlary, ýük
                        daşamalary sepleşdirip özara utgaşdyryp, ýüküň ýüklenilen ýerinden onuň düşürilmeli ýerine
                        çenli, şeýle hem harytlary saklamak, ýükleme-düşürme işlerini, gümrük resmilleşdirme işlerini
                        amala aşyrýar. Habarlaşmak üçin: Salgymyz: 744000, Türkmenistan, Aşgabat ş., Türkmenbaşy şaýoly,
                        jaý 7 Tel: +993 (12) 383275 Faks: +993 (12) 390620, 941874 E-mail: tde@online.tm Web-saýt:
                        https://www.railway.gov.tm/
                    </p>
                </div>
                <button class="accordion">"Türkmenhowaýollary" agentligi</button>
                <div class="panel">
                    <p>Howa ýollary arkaly ýük daşamak «Türkmenhowaýollary» agentliginiň işiniň esasy görnüşleriniň
                        biridir. Türkmen paýtagtynyň howa menziliniň ýük terminalynyň onuň binýadynda sebitiň iri
                        logistiki merkeziniň döredilmegi üçin ähli mümkinçilikleri bar.Terminal ýylda ýükleriň 200 müň
                        tonnasyny işläp geçmäge ukyplydyr. Ol howa menziliniň çäginiň günbatar böleginde ýerleşýär we
                        oňa barýan aýratyn ýol bar. Munuň özi ýük ulaglarynyň hem-de işgärleriň bina has çalt gelmegini
                        üpjün edýär.Ýük terminalynyň umumy meýdany 17 müň 174 inedördül metre barabardyr. Onuň çäginde
                        howa gämileri üçin baş duralgaly ýük perrony, eksport hem-de import zolaklary, sowadyjy
                        jaýlaryňikisi, dürli görnüşli ýükleri sakla- mak üçin niýetlenen ammarlar ýerleşýär. Bu ýerde
                        şeyle hem Türkmenistanyň Aragatnaşyk ministrliginiň «Türkmenpoçta» döwlet kompaniýasynyň poçta
                        paýlaýjy merkezi göz öňünde tutuldy. Poçta merkezi özüne ýükleri işläp geçmek we saýlamak
                        zallaryny, hyzmat ediş we beýleki tehniki otaglary birleşdirýär.Bu yerde Aşgabat şäheriniň
                        Halkara howa menziliniň poçtawe ýük gatnawlaryny guramak gulluklary üçin iş otaglary,
                        Türkmenistanyň Döwlet gümrük gullugynyň gümrük posty hem-de Weterinariýa gullugy üçin otaglar
                        ýerleşýär. Ýük awiagatnawlarynyň ýerüsti hyzmatyny döwrebaplaşdyrmak milli raýat awiasiýasyny
                        ösdürmegiň ileri tutulýan ugurlarynyň biridir. Bu wezipäni çözmegiň çäklerinde Aşgabat şäheriniň
                        Halkara howa menziliniň ýük terminalynda işewürligi kämilleşdirmäge gönükdirilen döwrebap
                        tehnologiýalaryň birnäçesi ornaşdyryldy. Mysal üçin, ETV-toplumy özüne ýük ýüklenýän we
                        düşürilýän beketlerde hem-de howa gämileriniň duralgasynyňgolaýyndaky çägiň ýanaşyk ýerlerinde
                        elektron ulag platformalaryny birleşdirýär. Ýükleriň importy boýunça amallar ýerine ýetirilende,
                        howa menziline gelen uçar ýük terminalynyň uçar duralgasynda saklanýar. Ýük düşüriş işleri
                        paletleriň hem-de konteýnerleriň daşamak üçin niýetlenen ýöriteleşdirilen ýerüsti tehnikasynyň
                        kömegi bilen amala aşyrylyar. Howa gämisinden düşürilen ýükler ýük terminalyna
                        ugradylýar.Operator gelen ýükleriň ştrih kodlaryny okaýar we bu maglumatlar elektron merkeze
                        ugradylýar. Soňra ýükler paletde ýük terminalynyň içine daşalýar we olaryň aýratynlygyna
                        laýyklykda saklaýyş zolagynda paýlanylýar. Gerek bolan ýük operator tarapyndan awtomatiki usulda
                        çagyrylýar: ETV ulgamy anyk ýüküň saklanyljak ýerini kesgitleýär we ony ýük ýükleýiş we düşüriş
                        bekediniň derwezesine eltýär. Ýük terminalynyň import bölüminde 4 sany ýük ýükleýiş we düşüriş
                        bekedi göz öňünde tutulandyr. Eksport bölüminde rentgen-telewizion enjamynda gözden geçirilen
                        ýükler şahaly ýük ýükleyjileriň ýa-da platformalaryň kömegi bilen ýük ýükleýiş we düşüriş
                        bekedine eltilýär. Operator konweýeriň kömegi bilen paletde ýerleşdirilen ýüki ETV ulgamyna
                        ugradýar. Şol bölümde hem ýük ýükleýiş we düşüriş beketleriniň 4-si bar. ETV ulgamyna gelip
                        gowşan ýükler uçuşlaryň tertibine laýyklykda howa gämileriniň duralgasyna çykarylýar. Ugradylýan
                        ýükler operator tarapyndan ýük arabajyklaryna ýüklenilýär, olaryň kody okalýar we olar ulgamdaky
                        sanawdan aýrylýar. Ulaldylan ýük birligi (ULD) üçin ýük saklamagyň awtomatlaşdyrylan ulgamy göz
                        öňünde tutuldy. Kargo toplumyna çalt zaýalanýan ýükler, gymmatly zatlar, neşe serişdeli ýükler,
                        radioaktiw ýükler, oba hojalyk önümleri, janly ýükler (haýwanlar) we beýlekiler üçin ýörite
                        ammar girýär.Tehnologiki prosesiň,dürli ýükleri işlemegiň we saklamagyň ýokary derejede
                        mehanizmleşdirilmegi halkara ülňülerine we talaplaryna laýyklygy üpjün edýär.Şeýlelikde, türkmen
                        paýtagtynyň Halkara howa menziliniň Kargo terminaly diňe bir ýurdumyzda däl, eýsem, tutuş
                        sebitde iň iri we ýokary tehnologiýaly awiaýük merkezleriniň biri bolup durýar.Türkmen
                        awiokompaniýalarynyň üstaşyr we täsin ýükleriň daşalmagynyň dünýä bazaryna gatnaşmagynyň mundan
                        beýläk-de giňeldilmeginiň hasabyna ýük daşamagyň kuwwaty ep-esli artýar. Türkmen ykdysadyýetiniň
                        innowasion ösüş ýoluna geçmegi hem howa ýollary arkaly ýük daşamaga bolan islegleriň artmagyna
                        ýardam edýär. Habarlaşmak üçin: Salgymyz: «Türkmenhowaýollary» agentligi, Türkmenistan, ş.
                        Aşgabat, Türkmenistanyň Gahrymany Atamyrat Nyýazow şaýoly, 326-njy jaý Tel: +993 12 443024; +993
                        12 443104 E-mail: info@caa.gov.tm Web-saýt: https://caa.gov.tm/</p>
                </div>
                <button class="accordion">"Türkmenawtoulaglary" agentligi</button>
                <div class="panel">
                    <p>Berkarar döwletimiziň bagtyýarlyk döwründe Hormatly Prezidentimiziň parasatly döwlet
                        ýolbaşçylygynda ýurdumyzyň awtomobil ulaglary pudagy dünýäde öňdebaryjy kompaniýalaryň öndürýän
                        häzirki zaman awtoulaglary bilen üpjün edilýär. Hormatly Prezidentimiziň satyn alyp berýän
                        döwrebap awtobuslary we ýeňil taksi awtoulaglary bilen ýolagçylara, ýurdumyzyň myhmanlaryna
                        hem-de döwlet derejesinde geçirilýän çärelere gatnaşyjylara ýokary hilli we medeniýetli awtoulag
                        hyzmatlary edilýär. Türkmenistanyň ilatynyň awtomobil gatnamalaryna bolan isleglerini talaba
                        laýyk kanagatlandyrmak, awtomobil ulaglarynda ýolagçylaryň ýokary hilli gatnadylmagyny, olara
                        medeniýetli hyzmat edilmegini gazanmak maksady bilen, «Türkmenawtoulaglary» agentliginiň
                        garamagyndaky degişli edara-kärhanalar, Agentligiň we onuň garamagyndaky edara-kärhanalaryň
                        paýly gatnaşygyndaky «Awtomobil ulag hyzmaty» açyk görnüşli paýdarlar jemgyýeti tarapyndan,
                        häzirki wagtda jemi 607 sany, şolardan 168 sany şäheriçi, 336 sany şäherýaka we 103 sany
                        şäherara awtobus ugurlary bolup, mundan başgada buýurmalar esasynda ýolagçylara ýokary hilli we
                        medeniýetli awtoulag hyzmatlary ýerine ýetirilýär. Ilatyň awtobus gatnamalaryna bolan
                        isleglerini kanagatlandyrmak hem-de hyzmatlaryň ýokary hilli we medeniýetli bolmagyny gazanmak
                        maksady bilen 2021-nji ýylyň başyndan häzirki wagta çenli 26 sany awtobus ugurlary açyldy hem-de
                        22 sany awtobus ugurlara üýtgetmeler girizildi. Hormatly Prezidentimiziň satyn alyp berýän
                        döwrebap ýeňil taksi awtoulaglary bilen paýtagtymyzda we ýurdumyzyň welaýatlarynda ýolagçylara
                        gije-gündiziň dowamynda ýokary hilli we medeniýetli taksi hyzmatlary ýerine ýetirilýär. Ýerine
                        ýetirilýän awtoulag hyzmatlarynyň ýokary hilli medeniýetli bolmagyny gazanmak we ýolagçylar üçin
                        amatly şertleri döretmek maksady bilen, paýtagtymyzdaky şäheriçi awtobuslarda nagt däl görnüşli
                        elektron töleg ulgamy ornaşdyryldy, ýeňil taksi awtoulaglarda elektron enjamy goýlup, internet
                        ulgamynyň üsti bilen hyzmatlar ýola goýuldy we awtobuslarda, ýeňil taksi awtoulaglarda hem-de
                        welaýatlardaky kärhanalarymyzyň hasabyndaky ýük awtoulaglarda hem GPS/Glonass ulgamy
                        ornaşdyryldy. Ýörite enjam ornaşdyrylyp, paýtagtymyzdan ýurdumyzyň welaýatlaryna şäherara we
                        şäherýaka ugurlar boýunça gatnaýan awtobuslara ýol peteklerini internet ulgamy arkaly satyn
                        almak hyzmaty ýola goýuldy. Şeýle hem, ýük awtoulaglary halk hojalygynyň dürli pudaklarynda, şol
                        sanda ýurdumyzda alnyp barylýan iri gurluşyklarda hem-de ýurdumyzda ýetişdirilýän galla hasylyny
                        we beýleki oba hojalyk ekinlerini daşamakda giňden ulanylýar. Mundan başga-da, düzüminde «KAMAZ
                        5490 (4x2)» kysymly eýerli çekiji we «NEFAZ-93341» kysymly tentli ýarym tirkeg bolan ýük
                        awtoulaglary, ýurdumyzyň Döwlet serhediniň üstünden geçilýän gözegçilik-geçiriş ýerlerinde we
                        ýurdumyzyň çägi boýunça, ýurdumyza gelýän we onuň çäginden üstaşyr geçýän ýükleri daşamakda
                        giňden ulanylýar. Habarlaşmak üçin: Salgymyz: Arçabil şaýoly, ş.Aşgabat, Türkmenistan Tel: +993
                        (12) 390356 E-mail: info@awotulag.gov.tm Web-saýt: https://awtoulag.gov.tm/</p>
                </div>
            </div>
        </div>
    </div>

    <script defer src="/js/script.js"></script>
</body>

</html>