<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/awto.css">
    <title>Ulag Aragatnaşyk</title>
</head>

<body>

    <div class="wrapper">
        <div class="main">
            <nav class="navbar">
                <div class="navbar__logo">
                    <div class="logo">Turkmenistanyn ulag logistika merkezi</div>
                </div>
                <ul class="navnar__list">
                    <li class="navbar__item">
                        <a href="/" class="navbar__link">Baş sahypa</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/aeroplane" class="navbar__link">Howa gatnawlary</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/train" class="navbar__link">Demirýol gatnawlary</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/buses" class="navbar__link">Awtobus gatnawlary</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/about" class="navbar__link">Biz barada</a>
                    </li>
                    <li class="navbar__item">
                        <a href="/contact" class="navbar__link">Habarlaşmak</a>
                    </li>
                </ul>
            </nav>
            <div class="main__image">
                <img src="/img/thumb.jpg">
            </div>
            <div class="container">
                <h3 class="__title">Ulag ulgamynda hyzmatdaşlyk we logistika</h3>
                <p>Hormatly Prezidentimiziň ta&yacute;syz tagallalary netijesinde &yacute;urdumyzda h&auml;zirki zaman
                    ulag-&uuml;staşyr logistik d&uuml;z&uuml;mler, aragatnaşyk we telekommunikasi&yacute;a ulgamy kemala
                    getiril&yacute;&auml;r. Munuň &ouml;zi Be&yacute;ik &Yacute;&uuml;pek &yacute;olunyň d&ouml;wrebap
                    derejede, t&auml;ze r&ouml;w&uuml;şde dikeldil&yacute;&auml;ndiginiň a&yacute;dyň mysalydyr.</p>

                <p>Gahryman Arkadagymyz &laquo;T&uuml;rkmenistan &mdash; Be&yacute;ik &Yacute;&uuml;pek &yacute;olunyň
                    &yacute;&uuml;regi&raquo; II jiltlik kitabynda: &laquo;Ulag-aragatnaşyk ulgamynda bar bolan giň
                    m&uuml;mkin&ccedil;ilikleri durmuşa ornaşdyrmak we olary t&auml;ze ykdysady derej&auml;
                    &yacute;etirmek arkaly iňň&auml;n &yacute;okary netijeleri gazanyp, bu ugurda işjeň hereket
                    ed&yacute;&auml;ndigimiz hem bellenilmeli &yacute;agda&yacute;dyr&raquo; di&yacute;ip nygtamak
                    bilen, T&uuml;rkmenistanda k&ouml;pugurly ulag-aragatnaşyk infrastrukturasynyň d&ouml;redilmeginiň,
                    ilkinji nobatda, milli ykdysady&yacute;etimizi maksadala&yacute;yk &ouml;sd&uuml;rm&auml;ge hem-de
                    ahyrky netijede t&uuml;rkmen halkynyň eşretli &yacute;aşa&yacute;şyny &yacute;okarlandyrmaga, durmuş
                    h&auml;si&yacute;etli maksatnamalary amala aşyrmaga m&uuml;mkin&ccedil;ilik ber&yacute;&auml;ndigini
                    a&yacute;ratyn belle&yacute;&auml;r.</p>

                <p>&nbsp;&laquo;T&uuml;rkmenistan &mdash; Be&yacute;ik &Yacute;&uuml;pek &yacute;olunyň
                    &yacute;&uuml;regi&raquo; kitabynyň mazmunynda taryhy d&ouml;w&uuml;rlerde we h&auml;zirki wagtda
                    ulag pudagynyň tut&yacute;an ornunyň &yacute;okarydygy, onuň medeni&yacute;et,
                    sy&yacute;ahat&ccedil;ylyk, s&ouml;wda gatnaşyklaryna uly itergi ber&yacute;&auml;ndigi baradaky
                    giňişle&yacute;in maglumatlar islendik okyjyny &ouml;z&uuml;ne ma&yacute;yl ed&yacute;&auml;r.
                    T&uuml;rkmenistan halkara &yacute;ollaryň &ccedil;atrygynda &yacute;erleşip, geografik ta&yacute;dan
                    &ouml;r&auml;n amatly &yacute;agda&yacute;a e&yacute;edir. Şu nukda&yacute;nazardan,
                    &yacute;urdumyzda halkara &uuml;lň&uuml;lerine la&yacute;yk gel&yacute;&auml;n d&ouml;wrebap
                    &yacute;ollar, k&ouml;pr&uuml;ler, halkara howa menzilleri, demir &yacute;ol menzilleri, deňiz
                    portlary gurul&yacute;ar. Bularyň &auml;hlisi h&auml;zirki zaman şertlerinde Be&yacute;ik
                    &Yacute;&uuml;pek &yacute;olunyň t&auml;zeden dikelmegine &yacute;ol a&ccedil;&yacute;ar,
                    sy&yacute;ahat&ccedil;ylygyň, medeni hyzmatdaşlygyň, s&ouml;wda-ykdysady gatnaşyklaryň
                    rowa&ccedil;lanmagyna şert d&ouml;red&yacute;&auml;r. Logistika adalgasy h&auml;zirki
                    d&ouml;w&uuml;rde ulaglar ulgamynyň sazlaşykly &ouml;s&uuml;şini &uuml;pj&uuml;n etmek
                    j&auml;hetinden &ouml;r&auml;n &yacute;&ouml;rg&uuml;nlidir. Halkara hyzmatdaşlygynda logistika
                    adalgasyna &ouml;n&uuml;miň, harydyň &yacute;a-da hyzmatyň dolandyryş ulgamyny ulaglar bilen
                    daşalyşyny sazlaşdyrmak, ulgamlaşdyrmak &yacute;aly toplumla&yacute;yn işleriň kesgitlemesi
                    h&ouml;km&uuml;nde garal&yacute;ar. Şe&yacute;lelikde, logistikanyň maksady &ouml;n&uuml;mi tiz
                    wagtda we ygtybarly &yacute;agda&yacute;da &ouml;nd&uuml;riji k&auml;rhanalardan alyjylar
                    k&ouml;p&ccedil;&uuml;ligine &yacute;etirmekden ybarat bolup dur&yacute;ar.</p>

                <p>Halkara &yacute;&uuml;k daşalyşy amala aşyrylanda d&uuml;rli d&ouml;wletleriň &ccedil;&auml;klerinden
                    ge&ccedil;meklik zerurlygy &yacute;&uuml;ze &ccedil;yk&yacute;ar. Ulag logistikasy amala aşyrylanda
                    ulag g&ouml;rn&uuml;şleriniň we amatly ugruň dogry sa&yacute;lanylyp alynmagy, &yacute;&uuml;kleriň
                    &ouml;z wagtynda &ccedil;alt we arzan alyja gowşurylmagyna t&auml;sir ed&yacute;ar. Şunuň bilen
                    baglylykda, ulag logistikasy &mdash; ulag ulgamynyň &auml;hli ugurlaryny &ouml;z&uuml;nde
                    jemle&yacute;&auml;n, ykdysady pudaklary baglanyşdyr&yacute;an d&uuml;ş&uuml;njedir.</p>

                <p>&Yacute;urdumyzda ulag ulgamynyň maddy-enjamla&yacute;yn bin&yacute;adynyň
                    d&ouml;wrebaplaşdyrylmagyna yzygiderli &uuml;ns beril&yacute;&auml;r. Ulaglaryň &auml;hli
                    g&ouml;rn&uuml;şleriniň &ouml;sd&uuml;rilmegi milli maksatnamalaryň &uuml;st&uuml;nlikli durmuşa
                    ge&ccedil;irilmeginiň hem girewidir. &laquo;T&uuml;rkmenistanyň Prezidentiniň &yacute;urdumyzy 2019
                    &mdash; 2025-nji &yacute;yllarda durmuş-ykdysady ta&yacute;dan &ouml;sd&uuml;rmegiň Milli
                    maksatnamasynda&raquo; ulaglar ulgamynyň &ouml;s&uuml;şini &uuml;pj&uuml;n etmek bilen baglanyşykly
                    wezipeleriň toplumy kesgitlenen. Olaryň hatarynda: &yacute;olag&ccedil;ylary gatnatmagyň we
                    &yacute;&uuml;kleri daşamagyň m&ouml;&ccedil;berlerini artdyrmak we hilini gowulandyrmak, ulag
                    hyzmatlarynyň eksportyny artdyrmak, esasan, &yacute;urduň &yacute;&uuml;kleri &uuml;staşyr
                    ge&ccedil;irmek m&uuml;mkin&ccedil;iligini durmuşa ge&ccedil;irmek, ulaglar ulgamynda halkara
                    ykdysady we s&ouml;wda hyzmatdaşlygyny hil ta&yacute;dan t&auml;ze derej&auml; &ccedil;ykarmaga
                    ni&yacute;etlenen iri halkara hem-de sebitle&yacute;in taslamalar babatynda, ilki bilen,
                    &ccedil;ykyş etmek hem-de olary durmuşa ge&ccedil;irmek bolup dur&yacute;ar.</p>

                <p>T&uuml;rkmenistan d&uuml;n&yacute;&auml; bileleşiginiň doly hukukly agzasy bolup, ulag babatda
                    birn&auml;&ccedil;e halkara konwensi&yacute;alaryna we ylalaşyklaryna gatnaşyp, m&ouml;h&uuml;m
                    resminamalaryň&nbsp; umumy ykrar edilen kadalaryndan gelip &ccedil;yk&yacute;an halkara
                    bor&ccedil;namalaryna gyşarnyksyz e&yacute;er&yacute;&auml;r.</p>

                <p>&Yacute;urdumyz BMG-niň &yacute;&ouml;riteleşdirilen d&uuml;z&uuml;mleri, şol sanda &Yacute;ewropa
                    ykdysady komissi&yacute;asy, BMG-niň Azi&yacute;a-&Yacute;uwaş ummany sebiti &uuml;&ccedil;in
                    Ykdysady we durmuş komissi&yacute;asy (ESKATO) bilen &yacute;akyn gatnaşyklary saklamak ugrunda
                    &ccedil;ykyş ed&yacute;&auml;r. Şonuň bilen birlikde, 2018-nji &yacute;ylyň fewralynda
                    T&uuml;rkmenistanyň Birleşen Milletler Guramasynyň 2019 &mdash; 2020-nji &yacute;yllar
                    &uuml;&ccedil;in &Yacute;ewropa ykdysady komissi&yacute;asynyň i&ccedil;erki ulag
                    bo&yacute;un&ccedil;a komitetiniň d&uuml;z&uuml;mine sa&yacute;lanylmagy hormatly Prezidentimiziň
                    &ouml;ňe s&uuml;r&yacute;&auml;n başlangy&ccedil;larynyň halkara bileleşiginde giň goldawa mynasyp
                    bol&yacute;andygyny ş&ouml;hlelendir&yacute;&auml;r.</p>

                <p>T&uuml;rkmenistan BMG-niň &ccedil;&auml;klerinde halkara gatnaşyklarynda işjeň orny e&yacute;elemek
                    bilen, anyk başlangy&ccedil;lary &ouml;ňe s&uuml;r&yacute;&auml;r. Şunuň bilen baglylykda,
                    transmilli ulag ge&ccedil;elgelerini d&ouml;retmek bo&yacute;un&ccedil;a daşary &yacute;urtly
                    hyzmatdaşlar bilen bilelikde giň m&ouml;&ccedil;berli d&uuml;z&uuml;mle&yacute;in taslamalary
                    durmuşa ge&ccedil;ir&yacute;&auml;r. T&uuml;rkmenistanyň ulag ulgamynda gazanan
                    &uuml;st&uuml;nlikleriniň we halkara derejesinde abra&yacute;ynyň has-da pugtalanmagynyň
                    a&yacute;dyň mysallary h&ouml;km&uuml;nde 2014-nji &yacute;ylyň 19-njy dekabrynda Birleşen Milletler
                    Guramasynyň Baş Assamble&yacute;asy tarapyndan &ldquo;Durnukly &ouml;s&uuml;ş &uuml;&ccedil;in
                    halkara hyzmatdaşlygyny &uuml;pj&uuml;n etmekde ulag-&uuml;staşyr ge&ccedil;elgeleriniň orny&rdquo;,
                    2015-nji &yacute;ylyň 22-nji dekabrynda &ldquo;Durnukly multimodal &uuml;staşyr ge&ccedil;elgelerini
                    d&ouml;retm&auml;ge &yacute;ardam bermek maksady bilen ulaglaryň &auml;hli g&ouml;rn&uuml;şleriniň
                    arasynda hemmetarapla&yacute;yn gatnaşyklary &uuml;pj&uuml;n etmegiň &yacute;olunda&rdquo;,
                    şe&yacute;le hem 2017-nji &yacute;ylyň 20-nji dekabrynda Birleşen Milletler Guramasynyň Baş
                    Assamble&yacute;asynyň 72-nji maslahatynyň 74-nji mejlisinde &ldquo;Durnukly &ouml;s&uuml;ş
                    maksatlaryny amala aşyrmak bilen baglylykda ulaglaryň &auml;hli g&ouml;rn&uuml;şleriniň
                    arabaglanyşygyny berkitmek&rdquo; atly Rezol&yacute;usi&yacute;alarynyň kabul edilmegi
                    a&yacute;ratyn bellenm&auml;ge mynasypdyr. Bu halkara resminamalaryň kabul edilmegi bu ugurda
                    &ouml;ňe s&uuml;r&uuml;l&yacute;&auml;n oňyn teklipleriň d&uuml;n&yacute;&auml; derejesinde ykrar
                    edil&yacute;&auml;ndigini we olaryň durmuşa ornaşdyryl&yacute;andygyny &yacute;ene-de bir gezek
                    a&yacute;dyňlygy bilen tassykla&yacute;ar.</p>

                <p>Şe&yacute;le-de &yacute;urdumyzda ulag ulgamy bilen baglanyşykly halkara maslahatlar
                    ge&ccedil;iril&yacute;&auml;r. Muňa mysal edip, 2016-njy &yacute;ylyň 26-27-nji no&yacute;abrynda
                    Durnukly ulag ulgamy bo&yacute;un&ccedil;a &Auml;hlumumy maslahatyny, 2017-nji &yacute;ylyň
                    ma&yacute;ynda &Yacute;ewrazi&yacute;a yklymynda &uuml;staşyr-ulag hyzmatdaşlygyny
                    k&ouml;pugurla&yacute;yn &ouml;sd&uuml;rmek meselesine bagyşlanan Ulag we logistika
                    bo&yacute;un&ccedil;a halkara maslahatyny g&ouml;rkezmek bolar.</p>

                <p>H&auml;zirki wagtda demir &yacute;ollarynyň &ouml;sd&uuml;rilmegi netijeli halkara hyzmatdaşlygynyň
                    m&ouml;h&uuml;m şertleriniň birine &ouml;wr&uuml;ldi. T&uuml;rkmenistanyň halkara giňişliginde barha
                    &ouml;s&yacute;&auml;n t&auml;siri we &auml;hmi&yacute;eti nukda&yacute;nazaryndan, hormatly
                    Prezidentimiziň &yacute;olbaş&ccedil;ylygynda amala aşyryl&yacute;an ulag ulgamyndaky
                    &ouml;s&uuml;şler we &ouml;zgertmeler halkara hyzmatdaşlygynyň k&ouml;pugurly hem-de netijeli
                    bolmagynda &ouml;z be&yacute;anyny tap&yacute;ar.</p>

                <p>T&uuml;rkmenistanyň d&uuml;n&yacute;&auml; giňişliginde m&ouml;h&uuml;m baglanyşyk ulgamyna
                    &ouml;wr&uuml;lmegi &uuml;&ccedil;in, ulag ulgamynyň &auml;hli pudaklaryna iri ma&yacute;a
                    go&yacute;umlaryny g&ouml;n&uuml;kdirmek bilen, iri g&ouml;wr&uuml;mli taslamalar durmuşa
                    ge&ccedil;iril&yacute;&auml;r. 2016-njy &yacute;ylyň no&yacute;abr a&yacute;ynda ulanylmaga berlen
                    Kerki &mdash; Ymamnazar &mdash; Akina demir &yacute;olunyň a&ccedil;ylmagy, &ldquo;Demirgazyk
                    &mdash; G&uuml;norta&rdquo; yklymara ulag ge&ccedil;elgesiniň halkasynda&ndash;Gazagystan &mdash;
                    T&uuml;rkmenistan &mdash; E&yacute;ran demir &yacute;olunda gatnawlary işjeňleşdirmek
                    bo&yacute;un&ccedil;a alnyp baryl&yacute;an &ccedil;&auml;reler, 2018-nji &yacute;ylyň 23-nji
                    fewralynda gurlup ulanylmaga berlen Serhetabat &mdash; Turgundy demir &yacute;oly yzygiderli
                    &ouml;s&uuml;şiň mysallarydyr.</p>

                <p>Hormatly Prezidentimiziň belle&yacute;şi &yacute;aly, h&auml;zirki d&ouml;w&uuml;rde ulag
                    gatnawlarynyň &ouml;sd&uuml;rilmegi netijeli halkara hyzmatdaşlygynyň esasy şertleriniň birine
                    &ouml;wr&uuml;l&yacute;&auml;r. Bu babatda &yacute;ol gurmagy gadym d&ouml;w&uuml;rlerden b&auml;ri
                    asylly iş hasaplap gel&yacute;&auml;n t&uuml;rkmen halky bu d&auml;bini mynasyp dowam edip,
                    Be&yacute;ik &Yacute;&uuml;pek &yacute;oluny dikeltm&auml;ge mynasyp goşandyny goş&yacute;ar.</p>

                <p>Umuman, d&ouml;wlet Baştutanymyzyň başlangyjy bilen Berkarar d&ouml;wletimiziň bagty&yacute;arlyk
                    d&ouml;wr&uuml;nde &yacute;urdumyz gadymy Be&yacute;ik &Yacute;&uuml;pek &yacute;olunyň
                    m&ouml;h&uuml;m halkasy, hereketlendiriji g&uuml;&yacute;ji bolmak bilen, halkara ulag-logistika
                    ulgamynyň &ouml;s&uuml;şinde wajyp orny e&yacute;ele&yacute;&auml;r. Ulag-logistika pudagynyň
                    yzygiderli &ouml;sd&uuml;rilmegi durmuş-ykdysady &ouml;s&uuml;şler bilen &ouml;zara sazlaşygy emele
                    getirip, halkara hyzmatdaşlygyň, d&uuml;n&yacute;&auml; &yacute;urtlary bilen dostluk we doganlyk
                    gatnaşyklarynyň giňeldilmegine oňa&yacute;ly t&auml;sir ed&yacute;&auml;r.</p>

                <p><strong>&Yacute;olag&ccedil;ylara medeni&yacute;etli hyzmat</strong></p>

                <p>&laquo;T&uuml;rkmenistan &mdash; rowa&ccedil;lygyň Watany&raquo; &yacute;ylynyň her bir g&uuml;ni
                    şanly wakalara, z&auml;hmet &uuml;st&uuml;nliklerine beslen&yacute;&auml;r. D&ouml;wlet
                    Baştutanymyzyň &yacute;olbaş&ccedil;ylygynda &auml;hli ulgamlarda ilata edil&yacute;&auml;n
                    hyzmatlaryň hil derejesi barha &yacute;okarlan&yacute;ar. Biz muny
                    &laquo;T&uuml;rkmendemir&yacute;ollary&raquo; agentliginde watandaşlarymyza
                    h&ouml;d&uuml;rlen&yacute;&auml;n hyzmatlaryň hil derejesiniň k&auml;milleşmeginde hem a&yacute;dyň
                    g&ouml;r&yacute;&auml;ris.</p>

                <p>Soňky &yacute;yllarda eziz Di&yacute;arymyzyň ulaglar ulgamynyň &auml;hli g&ouml;rn&uuml;şinde ilata
                    edil&yacute;&auml;n hyzmat barha k&auml;milleş&yacute;&auml;r. Awtomobil, howa, demir &yacute;ol
                    ulaglarynyň hyzmatlaryndan pe&yacute;dalan&yacute;an &yacute;olag&ccedil;ylara &auml;hli amatlyklar
                    we &yacute;eňillikler d&ouml;redil&yacute;&auml;r.</p>

                <p>Soňky gysga wagtyň i&ccedil;inde ulaglar we aragatnaşyk pudagynda h&auml;zirki zaman hyzmatlarynyň
                    birn&auml;&ccedil;esi &uuml;st&uuml;nlikli durmuşa ge&ccedil;irildi we halkymyzyň arasynda gyzgyn
                    goldawa e&yacute;e boldy. Olaryň sanawynda &laquo;T&uuml;rkmenawtoulaglary&raquo; agentliginiň
                    Aşgabatdaky Taksomotor awto-ulag k&auml;rhanasynda hereket ed&yacute;&auml;n &ldquo;Taksi&rdquo;
                    ulaglarynda d&ouml;wrebap hyzmat, &yacute;agny &laquo;Taksi&raquo; hyzmaty &yacute;ola
                    go&yacute;uldy. Bu hyzmatda &laquo;Altyn Asyr&raquo; &yacute;apyk g&ouml;rn&uuml;şli
                    pa&yacute;darlar jemgy&yacute;eti bilen &laquo;T&uuml;rkmenawtoulaglary&raquo; agentliginiň
                    bilelikd&auml;ki şertnamasy esasynda, t&auml;ze taksi ulaglarynda planşetler &yacute;erleşdirildi.
                    Ha&ccedil;an-da m&uuml;şderi taksi hyzmatyndan pe&yacute;dalanmak &uuml;&ccedil;in
                    &yacute;&ouml;rite bu&yacute;urma iberse, şol m&uuml;şder&auml; ha&yacute;sy taksi ulagy
                    gola&yacute; bolsa, gysga wagtyň i&ccedil;inde onuň &ccedil;agyran salgysyna bar&yacute;ar. Mundan
                    başga-da taksi ulaglarynda nagt we nagt d&auml;l g&ouml;rn&uuml;şde &yacute;olag&ccedil;ylar bilen
                    hasaplaşmak &uuml;&ccedil;in &ldquo;Senagat&rdquo; banky tarapyndan &yacute;&ouml;rite enjamyň
                    ornaşdyrylmagy hem &yacute;urdumyzda halk hojalyk pudaklarynyň sanly ulgama ge&ccedil;irilmegi
                    ugrunda alnyp baryl&yacute;an işleriň &yacute;okary depginler bilen durmuşa
                    ge&ccedil;iril&yacute;&auml;ndigine şa&yacute;atlyk ed&yacute;&auml;r. Mundan başga-da
                    &yacute;olag&ccedil;y awtobuslarynda t&ouml;legleriň &yacute;&ouml;rite elektron kartlary arkaly
                    amala aşyrylmagy &yacute;urdumyzda alnyp baryl&yacute;an sanly ykdysady&yacute;et sy&yacute;asatynyň
                    datly miweleriniň biridir.</p>

                <p>&laquo;T&uuml;rkmendemir&yacute;ollary&raquo; agentligi bilen &laquo;T&uuml;rkmenpo&ccedil;ta&raquo;
                    po&ccedil;ta aragatnaşyk k&auml;rhanasynyň pa&yacute;tagtymyzyň po&ccedil;ta aragatnaşyk
                    b&ouml;l&uuml;mlerinde demir &yacute;ol petekleriniň satuwyny amala aşyrmak &uuml;&ccedil;in
                    şaham&ccedil;alaryň işl&auml;p başlamagy, &laquo;T&uuml;rkmenhowa&yacute;ollary&raquo; agentliginiň
                    &yacute;erli we halkara ugurlary bo&yacute;un&ccedil;a &yacute;olag&ccedil;y biletleriniň internet
                    (www.turkmenistanairlines.tm) arkaly &ldquo;online&rdquo; satuwynyň &yacute;ola go&yacute;ulmagy,
                    T&uuml;rkmenabat halkara howa menziliniň resmi sa&yacute;tynyň (www.tia.gov.tm),
                    &laquo;T&uuml;rkmenaragatnaşyk&raquo; agentliginiň &ldquo;T&uuml;rkmentelekom&rdquo;, &ldquo;Altyn
                    Asyr&rdquo;, &ldquo;AŞTU&rdquo; aragatnaşyk k&auml;rhanalarynda internet, IPTV, kabel
                    telewideni&yacute;esi, &ouml;&yacute;j&uuml;kli we simli telefon hyzmatlary &uuml;&ccedil;in
                    &ldquo;online&rdquo; t&ouml;leg hyzmatlarynyň we &yacute;eňillikli nyrhnamalarynyň d&ouml;redilmegi
                    guwandyryjy &yacute;agda&yacute;dyr.</p>

                <p>S&ouml;z&uuml;mizi delillendirmek &uuml;&ccedil;in demir &yacute;ol ulaglarynda innowasion
                    tehnologi&yacute;alary giňden ornaşdyrmak maksady bilen &ldquo;Android&rdquo; we &ldquo;iOS&rdquo;
                    işlediji ulgamlaryna ni&yacute;etlenen &ldquo;Demir&yacute;ol&rdquo; programmasynyň d&ouml;redilip,
                    halka el&yacute;eterli edilendigi barada a&yacute;tmak &yacute;erlikli bolar. Bu programma arkaly
                    her bir ra&yacute;at &yacute;urduň i&ccedil;erki &yacute;olag&ccedil;y otly gatnawlarynyň
                    ha&yacute;sy ugra, ha&yacute;sy ş&auml;here we stansi&yacute;a barjakdygyny, otlynyň ugrajak wagtyny
                    kesgitl&auml;p bil&yacute;&auml;r.</p>

                <p>Bu innowasion hyzmatlaryň durmuşa girizilmegi halk hojalyk pudaklaryny sanly g&ouml;rn&uuml;şe
                    ge&ccedil;irmek bo&yacute;un&ccedil;a hormatly Prezidentimiziň başyny başlan asylly işleriniň
                    m&ouml;h&uuml;m &auml;dimleri bolup dur&yacute;ar. Halkara &uuml;lň&uuml;lerine kybap
                    gel&yacute;&auml;n hyzmatlaryň &yacute;urdumyzda yzygider ornaşdyrylmagy milli Liderimiziň
                    &ldquo;D&ouml;wlet adam &uuml;&ccedil;indir!&rdquo; di&yacute;en baş taglymatynyň Berkarar
                    d&ouml;wletimiziň bagty&yacute;arlyk d&ouml;wr&uuml;nde durmuşyň &auml;hli ugurlarynda
                    dabaralan&yacute;andygyny subut ed&yacute;&auml;r.</p>

                <p>T&auml;ze hyzmatlar barada a&yacute;tsak, &yacute;akynda demir &yacute;ol otlularynda
                    &yacute;olag&ccedil;ylara edil&yacute;&auml;n hyzmaty k&auml;milleşdirmek, olary
                    d&uuml;n&yacute;&auml; &uuml;lň&uuml;lerine la&yacute;yk guramak maksady bilen &yacute;urdumyzyň
                    Senagat we kommunikasi&yacute;a ministrliginiň &laquo;T&uuml;rkmendemir&yacute;ollary&raquo;
                    agentliginiň &laquo;T&uuml;rkmendemir&yacute;ollary&raquo; d&ouml;wlet k&auml;rhanasynyň
                    teleke&ccedil;i Didar Hally&yacute;ew bilen bilelikde iş alyp barmak barada şertnama baglaşdy. Onuň
                    esasynda demir &yacute;ol otlularynda t&auml;ze naharhana (restoran) hyzmaty &yacute;ola
                    go&yacute;uldy.</p>

                <p>Demir &yacute;ol otlularynda &yacute;ola go&yacute;lan naharhana barada a&yacute;danymyzda, ol
                    h&auml;zirki wagtda Aşgabat &mdash; Amyder&yacute;a ugry bo&yacute;un&ccedil;a gatnawy amala
                    aşyr&yacute;an otlulara ornaşdyryldy. Onda &yacute;olag&ccedil;ynyň islegine g&ouml;r&auml;
                    d&uuml;rli tagamlary ta&yacute;&yacute;arlamak m&uuml;mkin&ccedil;iligi bar. H&auml;zirki wagtda
                    teleke&ccedil;i Didar Hally&yacute;ewiň dolandyr&yacute;an restoranynda t&uuml;rkmen milli
                    tagamlaryna uly orun beril&yacute;&auml;ndigini nygtamak gerek. D&uuml;rli g&ouml;rn&uuml;şd&auml;ki
                    t&uuml;rkmen teleke&ccedil;ileriniň &ouml;nd&uuml;r&yacute;&auml;n agyz suwlary bilen bezelen
                    tekjeler hem m&uuml;şderileriň &uuml;ns&uuml;ni &ouml;z&uuml;ne &ccedil;ek&yacute;&auml;r.</p>

                <p>&laquo;T&uuml;rkmendemir&yacute;ollary&raquo; agentliginiň
                    &laquo;T&uuml;rkmendemir&yacute;ollary&raquo; d&ouml;wlet k&auml;rhanasynyň h&uuml;n&auml;rmenleri
                    &yacute;akynda demir &yacute;ol otlularyndaky naharhana hyzmatyny be&yacute;leki ugurlar
                    bo&yacute;un&ccedil;a hem &yacute;ola go&yacute;magy me&yacute;illeşdir&yacute;&auml;ndiklerini
                    bellediler.</p>

                <p>Hormatly Prezidentimiziň &yacute;urdumyzyň teleke&ccedil;ilerine d&ouml;redip ber&yacute;&auml;n
                    m&uuml;mkin&ccedil;iliklerinden ruhlanan hususy&yacute;et&ccedil;iler h&auml;zirki wagtda halkymyza
                    edil&yacute;&auml;n hyzmatyň hil derejesini &yacute;okarlandyrmak ugrunda birn&auml;&ccedil;e işleri
                    alyp bar&yacute;arlar. T&uuml;rkmen teleke&ccedil;ileriniň alyp bar&yacute;an işleri bu g&uuml;nki
                    g&uuml;n &ouml;z&uuml;niň mynasyp miwesini ber&yacute;&auml;r. Soňky &yacute;yllarda d&ouml;wlet
                    Baştutanymyzyň aladasy bilen &yacute;urdumyzyň altyn gaznasy bolan teleke&ccedil;ilerimize
                    bildiril&yacute;&auml;n ynamyň netijesinde importuň ornuny tut&yacute;an &ouml;n&uuml;mler
                    &yacute;urdumyzda &ouml;nd&uuml;ril&yacute;&auml;r. Bu bolsa teleke&ccedil;ilerimiziň &yacute;okary
                    hilli &ouml;n&uuml;m &ouml;nd&uuml;rm&auml;ge tejribesiniň bardygyny g&ouml;rkez&yacute;&auml;r.</p>

                <p><strong>T&uuml;rkmenistan d&uuml;n&yacute;&auml;niň logistika ulgamyna sazlaşykly
                        goşul&yacute;ar</strong></p>

                <p>Biziň &yacute;urdumyz &Yacute;ewropa, Azi&yacute;a-&Yacute;uwaş ummany we G&uuml;norta Azi&yacute;a
                    sebitleriniň ykdysady ulgamlarynyň &ouml;zara gatnaşyklarynyň transkontinental ykdysady
                    k&ouml;pr&uuml;siniň wezipesini &yacute;erine &yacute;etir&yacute;&auml;r. Şonuň &uuml;&ccedil;in bu
                    babatda &laquo;G&uuml;ndogar &mdash; G&uuml;nbatar&raquo; we &laquo;Demirgazyk &mdash;
                    G&uuml;norta&raquo; ge&ccedil;elgelerinde &yacute;ollary birleşdir&yacute;&auml;n esasy ugurlar
                    bo&yacute;un&ccedil;a milli d&uuml;z&uuml;mi has-da giňeltmek m&ouml;h&uuml;m wezipeler
                    h&ouml;km&uuml;nde kesgitlendi. Halkara ulag ge&ccedil;elgeleri d&uuml;n&yacute;&auml;
                    ykdysady&yacute;etiniň globallaşmagynyň esasy ugurlaryna &ouml;wr&uuml;ldi. T&uuml;rkmenistan bu
                    &ouml;s&uuml;şlerden &ccedil;etde galman, &ouml;z &ccedil;&auml;ginde yklymyň m&ouml;h&uuml;m ulag
                    merkezlerini d&ouml;red&yacute;&auml;r. Ol &yacute;urdumyzyň durnukly ykdysady we durmuş
                    ta&yacute;dan &ouml;s&uuml;şine, &yacute;urdumyzda &ouml;nd&uuml;ril&yacute;&auml;n harytlaryň we
                    hyzmatlaryň d&uuml;n&yacute;&auml; bazarlarynda b&auml;sdeşlige ukyplylygyny &yacute;okarlandyrmaga
                    da&yacute;an&yacute;ar, bu bolsa oňa d&uuml;n&yacute;&auml;niň senagat d&uuml;z&uuml;minde mynasyp
                    orny e&yacute;elemegine uly m&uuml;mkin&ccedil;ilik ber&yacute;&auml;r.</p>

                <p>T&uuml;rkmenistanyň yklymyň esasy &yacute;ollarynyň &ccedil;atrygynda geografik
                    &yacute;agda&yacute;ynyň artykma&ccedil;lyklary biziň &yacute;urdumyza &Yacute;ewrazi&yacute;a
                    gatnaşyklaryny &uuml;pj&uuml;n etmek &uuml;&ccedil;in m&uuml;mkin&ccedil;ilik ber&yacute;&auml;r.
                    Hormatly Prezidentimiz bu konsepsi&yacute;any &ouml;ňe ilerletmek bilen, h&auml;zirki zaman ulag we
                    aragatnaşyk ulgamyny emele getirmegiň T&uuml;rkmenistanyň d&ouml;wlet sy&yacute;asatynyň ileri
                    tutul&yacute;an ugurlarynyň biri bolup dur&yacute;andygyny nygta&yacute;ar. Bu sy&yacute;asat
                    &yacute;urdumyzy durmuş-ykdysady ta&yacute;dan &ouml;sd&uuml;rm&auml;ge hem-de &auml;hlumumy
                    abadan&ccedil;ylygyň b&auml;hbidine giň sebit we halkara hyzmatdaşlygyny &yacute;ola go&yacute;maga
                    g&ouml;n&uuml;kdirilendir.</p>

                <p>T&uuml;rkmenistanyň ulag ulgamy &ouml;n&uuml;m&ccedil;ilik kuwwatlyklarynyň uly
                    &auml;ti&yacute;a&ccedil;lyklaryna e&yacute;e bolup, oňa &yacute;&uuml;k daşalyşynyň we
                    &yacute;olag&ccedil;y gatnadylyşynyň, şol sanda biziň &yacute;urdumyzyň &ccedil;&auml;klerinden
                    ge&ccedil;&yacute;&auml;n &uuml;staşyr ugurlaryň art&yacute;an m&ouml;&ccedil;berlerini
                    &uuml;pj&uuml;n etm&auml;ge m&uuml;mkin&ccedil;ilik ber&yacute;&auml;r. Ulag-&uuml;staşyr ulgamy
                    t&uuml;rkmen d&ouml;wletiniň geosy&yacute;asy maksadyna sazlaşykly goşul&yacute;ar. Şol
                    geosy&yacute;asy maksat &ouml;z &ouml;ň&uuml;nde h&auml;zirki zaman depginli &ouml;s&yacute;&auml;n
                    d&uuml;n&yacute;&auml;de ykdysady &yacute;&ouml;relgeleriň berkemeginiň takyk strategik wezipelerini
                    go&yacute;ar.</p>

                <p>Hormatly Prezidentimiziň yzygiderli alyp bar&yacute;an d&ouml;redijilikli, parahat&ccedil;ylyk
                    s&ouml;&yacute;&uuml;jilik sy&yacute;asatynyň durmuşa ge&ccedil;irilmegi netijesinde Bitarap
                    T&uuml;rkmenistan anyk başlangy&ccedil;lar bilen yzygiderli &ccedil;ykyş ed&yacute;&auml;r. Şol
                    başlangy&ccedil;lar &auml;hlumumy ykrar edilm&auml; e&yacute;e bol&yacute;ar hem-de sebit we
                    d&uuml;n&yacute;&auml; m&ouml;&ccedil;berinde hoşni&yacute;etli goňşu&ccedil;ylyk gatnaşyklarynyň we
                    netijeli hyzmatdaşlygyň pugtalandyrylmagyna hyzmat ed&yacute;&auml;r. T&uuml;rkmenistan bu
                    meselelere &ouml;z &ccedil;emeleşmelerini kesgitl&auml;p, ilkinji nobatda, &ouml;z&uuml;niň tiz
                    &ouml;s&yacute;&auml;n &uuml;staşyr-ulag ge&ccedil;elge artykma&ccedil;lyklaryny, şol sanda
                    deňiz-der&yacute;a ulaglarynda diňe bir sebitiň &yacute;urtlarynyň d&auml;l, e&yacute;sem, has giň
                    yklymara m&ouml;&ccedil;berlerde hem ykdysady b&auml;hbitlerde herekete getirmegiň
                    m&uuml;mkin&ccedil;iliginden ugur al&yacute;ar.</p>

                <p>&laquo;Awaza&raquo; milli sy&yacute;ahat&ccedil;ylyk zolagynda &Yacute;ewrazi&yacute;a giňişliginde
                    ulag-&uuml;staşyr hyzmatdaşlygy diwersifikasi&yacute;a &yacute;oly bilen &ouml;sd&uuml;rm&auml;ge
                    bagyşlanan &laquo;Ulag we logistika &mdash; durnukly &ouml;s&uuml;şiň b&auml;hbidine
                    hyzmatdaşlyk&raquo; atly halkara maslahatyň, Hazar&yacute;aka d&ouml;wletleriň deňiz portlarynyň
                    d&uuml;z&uuml;mleriniň &yacute;olbaş&ccedil;ylarynyň mejlisleriniň we bulardan başga-da logistiki
                    d&uuml;z&uuml;mi has-da k&auml;milleşdirmek maksady bilen halkara derejesind&auml;ki maslahatlaryň
                    &yacute;urdumyzda yzygiderli ge&ccedil;irilmegi halkara deňiz &yacute;&uuml;k g&auml;mi
                    gatnawlarynyň howpsuzlygyny &uuml;pj&uuml;n etmekde, port d&uuml;z&uuml;mlerini &ouml;sd&uuml;rmekde
                    we logistik maglumatlary alyşmakda &auml;hmi&yacute;eti uludyr. Bu maslahatlaryň &ccedil;&auml;ginde
                    Watanymyzda ulag ulgamynyň işini k&auml;milleşdirmek we halkara ulag ulgamlaryna birikmek hem-de
                    Birleşen Milletler Guramasynyň &auml;hlumumy durnukly &ouml;s&uuml;ş bo&yacute;un&ccedil;a 2030-njy
                    &yacute;yla &ccedil;enli d&ouml;w&uuml;r &uuml;&ccedil;in Maksatnamasynyň &ccedil;&auml;ginde ulag
                    ulgamynyň &ouml;s&uuml;şiniň geljegini kesgitle&yacute;&auml;n birn&auml;&ccedil;e meselelere
                    seredilip, ulag we logistika &yacute;aly geljegi uly ulgamda halkara hyzmatdaşlygyň
                    d&uuml;n&yacute;&auml; ykdysady&yacute;etiniň globallaşmak şertlerinde goşulyşmagyň m&ouml;h&uuml;m
                    şerti bolup dur&yacute;andygy baradaky wajyp işler ara alnyp maslahatlaşyl&yacute;ar.
                    &Ccedil;&uuml;nki h&auml;zirki zamanyň &ouml;sen ulag-&uuml;staşyr ge&ccedil;elgeleriniň ulgamy
                    k&ouml;psanly we howpsuz halkara ulag-logistika d&uuml;z&uuml;miniň bolmagyny talap
                    ed&yacute;&auml;r.</p>

                <p>Hormatly Prezidentimiziň ta&yacute;syz tagallasy bilen gurlup ulanylmaga berlen T&uuml;rkmenbaşy
                    ş&auml;herind&auml;ki Halkara deňiz menziliniň Hazaryň kenarynda bina edilmegi hem tutuş Merkezi
                    Azi&yacute;a sebitiniň esasy logistik halkasyna &ouml;wr&uuml;lm&auml;ge g&ouml;n&uuml;kdirilendir.
                    Geljekde bu portuň ulanylmagynyň netijesinde Azi&yacute;anyň we &Yacute;ewropanyň arasyndaky
                    s&ouml;wda gatnaşyklarynyň t&auml;ze derej&auml; &ccedil;ykjakdygy hem-de Azi&yacute;a bazarlarynyň
                    &Yacute;ewropa &uuml;&ccedil;in el&yacute;eterliliginiň &yacute;okarlanjakdygy ş&uuml;bhesizdir. Bu
                    taslamanyň durmuşa ge&ccedil;irilmegi bilen T&uuml;rkmenbaşy Halkara deňiz porty arkaly
                    Hyta&yacute;dan, &Yacute;aponi&yacute;adan, Kore&yacute;adan, şe&yacute;le hem Merkezi Azi&yacute;a
                    &yacute;urtlaryndan gelip gowuş&yacute;an &yacute;&uuml;kleri E&yacute;ranyň Bender Abbas, Enzeli,
                    Mirabad portlaryna, Russi&yacute;anyň we Gazagystanyň portlaryna &yacute;a-da Azerba&yacute;janyň
                    Baku portuna, şol &yacute;erden bolsa Gruzi&yacute;anyň Poti portuna ugratmaga
                    m&uuml;mkin&ccedil;ilik pe&yacute;da bolar. Munuň &ouml;zi d&uuml;n&yacute;&auml; ummanyna,
                    &yacute;agny d&uuml;n&yacute;&auml;niň islendik &yacute;urduna &ccedil;ykalgany a&ccedil;ar. Iň
                    h&auml;zirki zaman enjamlary bilen &uuml;pj&uuml;n edilen halkara deňiz porty &Yacute;ewropa
                    &yacute;urtlary &uuml;&ccedil;in &Yacute;akyn we Orta G&uuml;ndogar hem-de Hindi ummanynyň
                    sebitind&auml;ki &yacute;urtlaryň haryt we &ccedil;ig mal bazarlaryna &ccedil;ykmaga hem aňrybaş
                    amatly şertleri &uuml;pj&uuml;n eder. Şunlukda, ol giň m&ouml;&ccedil;berli &yacute;&uuml;k
                    gatnawlarynyň &yacute;oluna har&ccedil;lan&yacute;an wagty has gysgaltmaga şert d&ouml;reder. Munuň
                    &ouml;zi bolsa logistikanyň esasy şertleridir. Mundan başga-da, t&auml;ze deňiz menzili
                    T&uuml;rkmenistanyň ykdysady ta&yacute;dan &ouml;s&uuml;şine, senagat we ulag d&uuml;z&uuml;mleriniň
                    k&auml;milleşdirilmegine, t&auml;ze iş orunlarynyň d&ouml;redilmegine oňyn şertleri &uuml;pj&uuml;n
                    eder we iri ma&yacute;a go&yacute;umlarynyň &ccedil;ekilmegini şertlendirer.</p>

                <p>T&uuml;rkmenistanyň ulag ulgamy &ouml;n&uuml;m&ccedil;ilik kuwwatlyklarynyň uly
                    &auml;ti&yacute;a&ccedil;lyklaryna e&yacute;e bolup, oňa &yacute;&uuml;k daşalyşynyň we
                    &yacute;olag&ccedil;y gatnadylyşynyň, şol sanda biziň &yacute;urdumyzyň &ccedil;&auml;klerinden
                    ge&ccedil;&yacute;&auml;n &uuml;staşyr ugurlaryň diňe bir deňiz-der&yacute;a ulaglary ulgamynda
                    d&auml;l, e&yacute;sem, ykdysady&yacute;etimiziň awtomobil ulaglary ulgamynyň &uuml;sti bilen hem
                    d&uuml;rli g&ouml;rn&uuml;şli &yacute;&uuml;kleri daşamakda uly işleri amala aşyr&yacute;ar.
                    M&auml;lim bolşy &yacute;aly, h&auml;zirki d&ouml;w&uuml;rde Aşgabat &mdash; T&uuml;rkmenbaşy
                    ş&auml;herinde &yacute;okary tizlikli, d&ouml;wrebap awtoban gurul&yacute;ar. Bu &yacute;oluň
                    ulanylmaga berilmegi netijesinde Merkezi Azi&yacute;adan gel&yacute;&auml;n &yacute;&uuml;kler
                    Aşgabat &mdash; T&uuml;rkmenbaşy ugry bo&yacute;un&ccedil;a t&auml;ze deňiz menziline &auml;kidilip,
                    Hazar deňziniň &uuml;sti bilen Kawkaza, şol &yacute;erden bolsa T&uuml;rki&yacute;&auml; hem-de
                    &Yacute;ewropa &yacute;aly &yacute;urtlara halkara &yacute;&uuml;k gatnawlary amala aşyrylar.</p>

                <p>H&auml;zirki d&ouml;w&uuml;rde T&uuml;rkmenistan &yacute;urdumyz ulag-kommunikasi&yacute;a ulgamyny
                    &ouml;sd&uuml;rmek, demir &yacute;ol, awtomobil, deňiz, howa ulaglarynyň maddy-enjamla&yacute;yn
                    bin&yacute;adyny pugtalandyrmak bo&yacute;un&ccedil;a giň m&ouml;&ccedil;berli milli maksatnamalary,
                    şe&yacute;le hem hereket ed&yacute;&auml;n ulag ge&ccedil;elgelerini giňeltmek we t&auml;zelerini
                    d&ouml;retmek bo&yacute;un&ccedil;a geljegi uly me&yacute;ilnamalary amala aşyr&yacute;ar. Biziň
                    d&ouml;wletimiziň &uuml;staşyr gatnawlar logistikasynda m&uuml;mkin&ccedil;ilikleriniň gerimi işe
                    girizilen Gazagystan &mdash; T&uuml;rkmenistan &mdash; E&yacute;ran hem-de Kerki &mdash; Ymamnazar
                    (T&uuml;rkmenistan) &mdash; Akina (Owganystan) halkara demir &yacute;ol ulag ge&ccedil;elgelerini,
                    Amyder&yacute;anyň &uuml;st&uuml;nden ge&ccedil;&yacute;&auml;n demir &yacute;ol we awtomobil
                    k&ouml;pr&uuml;lerini, howa menzillerini, d&ouml;wrebaplaşdyryl&yacute;an &yacute;okary tizlikli
                    awtomobil &yacute;ollaryny nazara alanyňda, a&yacute;ratyn t&auml;sir galdyr&yacute;ar.</p>

                <p>T&uuml;rkmenistan &yacute;urdumyz &ouml;z ykdysady&yacute;etiniň kuwwatyny yzygiderli
                    artdyr&yacute;ar, innowasi&yacute;alaryň ornaşdyrylmagy, serişdeler bilen bagly
                    m&uuml;mkin&ccedil;ilikler, durmuşyň &auml;hli ugurlarynda giň gerimli &ouml;zgertmeleri amala
                    aşyrmaga m&uuml;mkin&ccedil;ilikler ber&yacute;&auml;r.</p>

                <p>Bagty&yacute;arlyk d&ouml;wr&uuml;mizde milli Liderimiziň ykdysady&yacute;etimiziň ulaglar ulgamyny
                    &yacute;okary derej&auml; &yacute;etirmek bilen baglanyşykly ed&yacute;&auml;n tagallalary
                    &yacute;urdumyzyň ykdysady&yacute;etiniň &ouml;smegine, halkyň eşretli durmuşda &yacute;aşamagyna
                    uly goşant goş&yacute;ar. T&uuml;rkmen halkyny bagta &yacute;etirip, bagty&yacute;arlykda
                    &yacute;aşad&yacute;an, ulag we aragatnaşyk d&uuml;z&uuml;miniň has-da k&auml;milleşmeginde
                    bim&ouml;&ccedil;ber aladalary ed&yacute;&auml;n Arkadag Prezidentimiziň jany sag, &ouml;mri uzak
                    bolsun, il-&yacute;urt b&auml;hbitli alyp bar&yacute;an işleri elmydama rowa&ccedil; alsyn!</p>

                <p><strong>&Ouml;s&uuml;şlere beslen&yacute;&auml;n ulgam</strong></p>

                <p>T&uuml;rkmenistanyň yklymara ulag &yacute;ollarynyň geografik ta&yacute;dan amatly &ccedil;atrygynda
                    &yacute;erleşmegi &Yacute;ewrazi&yacute;a d&ouml;wletleri bilen &ouml;zara b&auml;hbitli
                    gatnaşyklary &ouml;sd&uuml;rm&auml;ge, şunlukda, &yacute;urdumyzyň milli ulag-aragatnaşyk ulgamyny
                    &ouml;r&auml;n netijeli hem-de amatly pe&yacute;dalanmaga giň m&uuml;mkin&ccedil;ilikleri
                    ber&yacute;&auml;r. Şu nukda&yacute;nazardan &ouml;sen milli ulag-aragatnaşyk ulgamyny emele
                    getirmek arkaly &yacute;urduň durmuş-ykdysady ta&yacute;dan &ouml;sd&uuml;rilmegi hem-de
                    &auml;hlumumy abadan&ccedil;ylygyň b&auml;hbitleri &uuml;&ccedil;in giň sebit we halkara
                    hyzmatdaşlygyny &yacute;ola go&yacute;mak d&ouml;wletimiziň daşary sy&yacute;asatynyň ileri
                    tutul&yacute;an ugurlarynyň biri bolup dur&yacute;ar. 2019-njy &yacute;ylyň 7-nji fewralynda
                    ge&ccedil;irilen T&uuml;rkmenistanyň Mejlisiniň deputatlary bilen duşuşygynda eden &ccedil;ykyşynda
                    hormatly Prezidentimiziň &laquo;Ykdysady we durnukly bolmagy ulag ulgamynyň ygtybarly işlemegine
                    &yacute;okary derejede baglydyr&raquo; di&yacute;ip nygtamagy hem bu ugurdaky tagallalaryň &uuml;ns
                    merkezinde dur&yacute;andygynyň a&yacute;dyň mysalydyr.</p>

                <p>2014-nji &yacute;ylyň 19-njy dekabrynda BMG-niň Baş Assamble&yacute;asy tarapyndan &laquo;Durnukly
                    &ouml;s&uuml;ş &uuml;&ccedil;in halkara hyzmatdaşlygy &uuml;pj&uuml;n etmekde ulag-&uuml;staşyr
                    ge&ccedil;elgeleriniň orny&raquo; atly Kararnama kabul edildi. Bu m&ouml;h&uuml;m resminamanyň
                    d&uuml;zg&uuml;nlerinde 2014-nji &yacute;ylyň sent&yacute;abrynda kabul edilen hem-de
                    ulag-&uuml;staşyr gatnawlaryny &ouml;sd&uuml;rm&auml;ge toplumla&yacute;yn &ccedil;emeleşm&auml;ni
                    kemala getirmegi g&ouml;z &ouml;ň&uuml;nde tut&yacute;an Aşgabat Jarnamasynyň esasy ugurlary &ouml;z
                    be&yacute;anyny tapdy. 2015-nji &yacute;ylyň 22-nji dekabrynda kabul edilen &laquo;Durnukly
                    multimodal &uuml;staşyr ge&ccedil;elgelerini d&ouml;retm&auml;ge &yacute;ardam etmek maksady bilen
                    ulaglaryň &auml;hli g&ouml;rn&uuml;şleriniň arasynda hemmetarapla&yacute;yn gatnaşyklary
                    &uuml;pj&uuml;n etmegiň &yacute;olunda&raquo; atly Rezol&yacute;usi&yacute;anyň kabul edilmegi
                    d&ouml;wletimizde ulag-&uuml;staşyr ge&ccedil;elgelerini d&ouml;retmek bo&yacute;un&ccedil;a alnyp
                    baryl&yacute;an işleriň mynasyp dowamyna &ouml;wr&uuml;ldi.</p>

                <p>M&auml;lim bolşy &yacute;aly, 2018-nji &yacute;ylyň fewral a&yacute;ynda Birleşen Milletler
                    Guramasynyň &Yacute;ewropa ykdysady komissi&yacute;asynyň (BMG-niň &Yacute;YK) i&ccedil;erki ulag
                    bo&yacute;un&ccedil;a komitetiniň Şwe&yacute;sari&yacute;a Konfederasi&yacute;asynyň Ženewa
                    ş&auml;herinde ge&ccedil;irilen nobatdaky 80-nji mejlisiniň barşynda T&uuml;rkmenistany 2019 &mdash;
                    2020-nji &yacute;yllar &uuml;&ccedil;in bu komitetiň agzalygyna sa&yacute;lamak baradaky
                    &ccedil;&ouml;zg&uuml;di biragyzdan kabul edildi. Di&yacute;arymyzyň bu komitetiň
                    d&uuml;z&uuml;miniň agzalygyna sa&yacute;lanmagy hormatly Prezidentimiziň &ouml;ňe
                    s&uuml;r&yacute;&auml;n ulag diplomati&yacute;asy ulgamynda &yacute;urdumyzyň başlangy&ccedil;laryna
                    halkara bileleşiginiň belent ynamynyň subutnamasydyr. 2017-nji &yacute;ylyň 20-nji dekabrynda
                    BMG-niň Baş Assamble&yacute;asynyň 72-nji sessi&yacute;asynyň 74-nji mejlisinde &laquo;Durnukly
                    &ouml;s&uuml;ş maksatlaryny amala aşyrmak bilen baglylykda ulaglaryň &auml;hli
                    g&ouml;rn&uuml;şleriniň arabaglanyşygyny berkitmek&raquo; atly Rezol&yacute;usi&yacute;asynyň
                    ilkinji &yacute;ylynda T&uuml;rkmenistanyň bu komitetiň agzalygyna girizilmegi hem a&yacute;ratyn
                    bellem&auml;ge mynasypdyr.</p>

                <p>H&auml;zirki wagtda d&ouml;wrebap, amatly t&auml;ze halkara logistika ulgamyny d&ouml;retmek, bu
                    ugurda halkara hyzmatdaşlygyny işjeňleşdirmek bo&yacute;un&ccedil;a &auml;hlumumy
                    başlangy&ccedil;lary d&uuml;n&yacute;&auml; &yacute;urtlary tarapyndan biragyzdan
                    makullan&yacute;ar. &Yacute;urdumyz d&uuml;n&yacute;&auml; &yacute;urtlary bilen dostlukly
                    hyzmatdaşlygy, hususan-da ykdysady hyzmatdaşlygy &ouml;sd&uuml;rmekde ulag ulgamyna a&yacute;ratyn
                    &auml;hmi&yacute;et ber&yacute;&auml;r. Garaşsyz T&uuml;rkmenistan geografik ta&yacute;dan amatly
                    &yacute;erde sebit hem-de sebitara gatnaw &yacute;ollarynyň &ccedil;atrygynda &yacute;erleşmek
                    bilen, &Yacute;ewrazi&yacute;anyň halkara &yacute;&uuml;k akymlarynyň k&ouml;p b&ouml;legini
                    &ouml;z&uuml;nde jemle&yacute;&auml;r. H&auml;zirki d&ouml;wr&uuml;ň &yacute;agda&yacute;laryna
                    la&yacute;yk gel&yacute;&auml;n, k&ouml;p şahaly, utgaşykly we howpsuz halkara ulag logistika
                    d&uuml;z&uuml;mini d&ouml;retmek ob&yacute;ektiw zerurlyklaryň biri bolup dur&yacute;ar.
                    Pa&yacute;tagtymyzyň t&auml;ze Halkara howa menzili hem ulag ulgamynda nusgalyk toplum bolup
                    dur&yacute;ar. Ol &yacute;&uuml;kleri daşamagyň we &yacute;olag&ccedil;ylary gatnatmagyň
                    m&ouml;&ccedil;berleriniň artmagyny &uuml;pj&uuml;n ed&yacute;&auml;r. Şe&yacute;le hem
                    Di&yacute;arymyzyň &ccedil;&auml;gi bo&yacute;un&ccedil;a &uuml;staşyr ge&ccedil;&yacute;&auml;n
                    howa gatnawlaryny kanagatlandyrmaga m&uuml;mkin&ccedil;ilik ber&yacute;&auml;r. Ra&yacute;at
                    awiasi&yacute;asy multimodal ulgamyň m&ouml;h&uuml;m b&ouml;legi bolup dur&yacute;ar. Onuň
                    &ouml;s&uuml;ş derejesi &yacute;urdumyzyň milli ulag-logistika ulgamlarynyň halkara
                    d&uuml;z&uuml;mine goşulyşmagynyň depginini kesgitle&yacute;&auml;r.</p>

                <p>Bilşimiz &yacute;aly, 2019-njy &yacute;ylyň 22-nji fewralynda T&uuml;rkmenistanyň Ministrler
                    Kabinetiniň sanly wideoaragatnaşyk arkaly ge&ccedil;irilen mejlisinde hormatly Prezidentimiz Lebap
                    wela&yacute;atynyň Kerki ş&auml;herinde d&ouml;wrebap howa menzilini gurmak baradaky Karara gol
                    &ccedil;ekdi. Bu toplum g&uuml;norta-g&uuml;ndogar sebitinde &yacute;aşa&yacute;an watandaşlarymyza
                    hyzmat etm&auml;ge g&ouml;n&uuml;kdirilen ulag gatnawlarynyň &auml;hmi&yacute;etli
                    &ccedil;atryklarynyň birine &ouml;wr&uuml;ler. T&auml;ze menziliň gurulmagy bilen Aşgabatdan
                    Kerk&auml; bir sagat &ccedil;emesi wagtda &yacute;etip bolar. &Yacute;urdumyzyň bu k&uuml;njeginiň
                    dag-magdan ba&yacute;lyklaryny &ouml;zleşdirm&auml;ge m&uuml;mkin&ccedil;ilik berer.
                    &Yacute;urdumyzyň milli ra&yacute;at awiasi&yacute;asynyň halkara hem-de &yacute;erli howa
                    gatnawlary ulgamyna &uuml;st&uuml;nlikli goşulyşmaga, &yacute;olag&ccedil;y we &yacute;&uuml;k
                    gatnawlarynyň m&ouml;&ccedil;berini artdyryp, hilini &yacute;okarlandyrmaga şert d&ouml;reder.</p>

                <p>Gahryman Arkadagymyzyň parasatly başlangy&ccedil;lary bo&yacute;un&ccedil;a guruljak bu
                    d&ouml;wrebap, h&auml;zirki zaman enjamlary bilen doly &uuml;pj&uuml;n ediljek howa menzili sagatda
                    100 &yacute;olag&ccedil;a hyzmat etm&auml;ge ni&yacute;etlen&yacute;&auml;r. T&auml;ze guruljak howa
                    menziliniň desgalary 200 gektar me&yacute;dany tutar. Giň &yacute;olag&ccedil;y terminalynda
                    garaşmak, tiz bellige almak we &yacute;olag&ccedil;ylary ugratmak &uuml;&ccedil;in has oňa&yacute;ly
                    şertler d&ouml;rediler. Şe&yacute;le hem u&ccedil;uşa garaşyl&yacute;an 120 orunly e&yacute;wanly
                    me&yacute;dany 1730 ined&ouml;rd&uuml;l metre barabar bolan &yacute;olag&ccedil;y terminaly hem
                    &yacute;olag&ccedil;ylaryň ygty&yacute;arynda bolar.</p>

                <p>D&ouml;wletimizde ra&yacute;at awiasi&yacute;a pudagyny &ouml;sd&uuml;rmek baradaky işler durmuşa
                    ge&ccedil;irilende &laquo;2012 &mdash; 2030-njy &yacute;yllarda T&uuml;rkmenistanyň ra&yacute;at
                    awiasi&yacute;asyny &ouml;sd&uuml;rmegiň Milli maksatnamasyndan&raquo; ugur alyn&yacute;ar.
                    Maksatnamada t&auml;ze howa menzilleriniň gurluşygyny hem-de ozal hereket ed&yacute;&auml;nleriniň,
                    be&yacute;leki degişli desgalaryň d&ouml;wrebaplaşdyrylmagy, t&auml;ze iş orunlarynyň
                    d&ouml;redilmegi we &yacute;okary h&uuml;n&auml;rli işg&auml;rleriň ta&yacute;&yacute;arlanylmagy,
                    h&auml;zirki zaman u&ccedil;arlarynyň we be&yacute;leki zerur tehnikalaryň satyn alynmagy, t&auml;ze
                    halkara ugurlarynyň a&ccedil;ylmagy, şe&yacute;le hem &yacute;erine &yacute;etiril&yacute;&auml;n
                    hyzmatlaryň hiliniň &yacute;okarlandyrylmagy &yacute;aly wezipeler kesgitlen&yacute;&auml;r.&nbsp;
                </p>

                <p>Mundan başga-da &yacute;urdumyz BMG-niň halkara hyzmatdaşlygyny utgaşdyryjy
                    &yacute;&ouml;riteleşdirilen edarasy bolup dur&yacute;an Halkara ra&yacute;at awiasi&yacute;a
                    guramasynyň (IKAO) doly hukukly agzasydyr. Bu iri gurama howa gatnawlarynyň howpsuzlygyny,
                    ygtybarlylygyny we netijeliligini &uuml;pj&uuml;n etmek &uuml;&ccedil;in zerur bolan &auml;hli
                    halkara kadalaryny &yacute;ola go&yacute;&yacute;ar. Munuň bilen bir hatarda, &yacute;urdumyzda
                    hereket ed&yacute;&auml;n &laquo;T&uuml;rkmenistanyň Howa kodeksi&raquo; &yacute;uridik we fiziki
                    şahslaryň isleglerini kanagatlandyrmakda awiasi&yacute;anyň işiniň, şe&yacute;le hem
                    T&uuml;rkmenistanyň howa giňişliginden pe&yacute;dalanmak we onuň howpsuzlygyny &uuml;pj&uuml;n
                    etmek bo&yacute;un&ccedil;a be&yacute;leki işiň, goranmagyň we d&ouml;wletiň b&auml;hbitlerini gorap
                    saklamagyň, howa g&auml;mileriniň u&ccedil;uşlarynyň howpsuzlygynyň, awiasi&yacute;a hem-de ekologik
                    howpsuzlygyň hukuk, ykdysady we gurama&ccedil;ylyk esaslaryny kesgitle&yacute;&auml;r.</p>

                <p>Berkarar d&ouml;wletimiziň bagty&yacute;arlyk d&ouml;wr&uuml;nde &ccedil;alt depginler bilen
                    &ouml;s&yacute;&auml;n ulag-aragatnaşyk ulgamynyň k&auml;milleşmegi, ilkinji nobatda, milli
                    ykdysady&yacute;etiniň kuwwatlanmagyna itergi ber&yacute;&auml;r. Bu babatda hormatly
                    Prezidentimiziň başda durmagynda durmuşa ge&ccedil;iril&yacute;&auml;n işler Be&yacute;ik
                    &Yacute;&uuml;pek &yacute;olunyň t&auml;zeden dikeldilip, halkara hyzmatdaşlygynyň has hem giň
                    gerime e&yacute;e bolmagyna, parahat&ccedil;ylygyň pugtalandyrylmagyna mynasyp goşandyny
                    goş&yacute;ar.</p>
                </p> <br><br><br><br>
            </div>
        </div>
    </div>
    <script defer src="/js/script.js"></script>
</body>

</html>